<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper PUBLIC "ANTS" "http://doc.jants.cn/dtd/ants-mapper.dtd" >-->
<!-- 用户-->
<mapper namespace="MemberMapper">

    <resultType id="member" type="team.ants.shop.entity.Member"/>


    <!--数据和实体的对应映射-->
    <sql id="Base_Column_List">
        open_id as openId,
        account as account,
        nick_name as nickName,
        sex as sex,
        avatar as avatar,
        tel as tel,
        email as email,
        birthday as birthday,
        third_id as thirdId,
        third_type as thirdType,
        login_count as loginCount,
        last_login_ip as lastLoginIp,
        last_login_time as lastLoginTime,
        is_lock as isLock,
        type as type,
        create_time as createTime
    </sql>

    <!-- //TODO 多条件查询,自己扩充条件 -->
    <select id="selectList" resultType="member">
        select
        <include refid="Base_Column_List"/>
        from member
    </select>

    <!-- //TODO 多条件删除,自己扩充条件-->
    <delete id="deleteByOpenId">
        delete from member where open_id = #{openId}
    </delete>


    <!-- 根据主键ID查询一条记录-->
    <select id="selectById">
        select
        <include refid="Base_Column_List"/>
        from member where id = #{id}
    </select>

    <!-- 插入不为空的字段 -->
    <insert id="insert">
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="thirdId != null">
                third_id,
            </if>
            <if test="thirdType != null">
                third_type,
            </if>
            <if test="loginCount != null">
                login_count,
            </if>
            <if test="lastLoginIp != null">
                last_login_ip,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
            <if test="isLock != null">
                is_lock,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="openId != null">
                #{openId},
            </if>
            <if test="account != null">
                #{account},
            </if>
            <if test="nickName != null">
                #{nickName},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="avatar != null">
                #{avatar},
            </if>
            <if test="tel != null">
                #{tel},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="birthday != null">
                #{birthday},
            </if>
            <if test="thirdId != null">
                #{thirdId},
            </if>
            <if test="thirdType != null">
                #{thirdType},
            </if>
            <if test="loginCount != null">
                #{loginCount},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime},
            </if>
            <if test="isLock != null">
                #{isLock},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>

    <!-- 根据主键Id删除数据-->
    <delete id="deleteById">
        delete from member where id = #{id}
    </delete>

    <!-- 据主键Id修改字段不为空的数据 -->
    <update id="updateByOpenId">
        update member
        <set>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="thirdId != null">
                third_id = #{thirdId},
            </if>
            <if test="thirdType != null">
                third_type = #{thirdType},
            </if>
            <if test="loginCount != null">
                login_count = #{loginCount},
            </if>
            <if test="lastLoginIp != null">
                last_login_ip = #{lastLoginIp},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="isLock != null">
                is_lock = #{isLock},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where open_id = #{openId}
    </update>

    <select id="selectByOpenId">
        select
        <include refid="Base_Column_List"/>
        from member where open_id = #{openId} limit 1
    </select>
</mapper>