<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper PUBLIC "ANTS" "http://doc.jants.cn/dtd/ants-mapper.dtd" >-->
<!-- 栏目分类-->
<mapper namespace="CategoryMapper" >

    <resultType id="category" type="team.ants.egg.entity.Category" />
   
    <!--数据和实体的对应映射-->
    <sql id="Base_Column_List" >
        cat_id as catId, 
        cat_name as catName, 
        parent_id as parentId, 
        level as level, 
        icon as icon, 
        link_url as linkUrl, 
        sort as sort, 
        hits as hits, 
        description as description, 
        is_view as isView
    </sql>

    <select id="selectList" resultType="category">
        select <include refid="Base_Column_List"/> from category
    </select>


    <!-- 根据主键ID查询一条记录-->
    <select id="selectById" resultType="category">
        select <include refid="Base_Column_List"/> from category where cat_id = #{catId}
    </select>

    <!-- 插入不为空的字段 -->
    <insert id="insert">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="catId != null" >
                cat_id,
            </if>
            <if test="catName != null" >
                cat_name,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="level != null" >
                level,
            </if>
            <if test="icon != null" >
                icon,
            </if>
            <if test="linkUrl != null" >
                link_url,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="hits != null" >
                hits,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="isView != null" >
                is_view,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="catId != null" >
                #{catId},
            </if>
            <if test="catName != null" >
                #{catName},
            </if>
            <if test="parentId != null" >
                #{parentId},
            </if>
            <if test="level != null" >
                #{level},
            </if>
            <if test="icon != null" >
                #{icon},
            </if>
            <if test="linkUrl != null" >
                #{linkUrl},
            </if>
            <if test="sort != null" >
                #{sort},
            </if>
            <if test="hits != null" >
                #{hits},
            </if>
            <if test="description != null" >
                #{description},
            </if>
            <if test="isView != null" >
                #{isView},
            </if>
        </trim>
    </insert>

    <!-- 根据主键Id删除数据-->
    <delete id="deleteById">
        delete from category where cat_id = #{catId}
    </delete>

    <!-- 据主键Id修改字段不为空的数据 -->
    <update id="updateById">
        update category
        <set >
            <if test="catId != null" >
            cat_id = #{catId},
            </if>
            <if test="catName != null" >
            cat_name = #{catName},
            </if>
            <if test="parentId != null" >
            parent_id = #{parentId},
            </if>
            <if test="level != null" >
            level = #{level},
            </if>
            <if test="icon != null" >
            icon = #{icon},
            </if>
            <if test="linkUrl != null" >
            link_url = #{linkUrl},
            </if>
            <if test="sort != null" >
            sort = #{sort},
            </if>
            <if test="hits != null" >
            hits = #{hits},
            </if>
            <if test="description != null" >
            description = #{description},
            </if>
            <if test="isView != null" >
            is_view = #{isView},
            </if>
        </set>
        where cat_id = #{catId}
    </update>
</mapper>