<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE mapper PUBLIC "ANTS" "http://doc.jants.cn/dtd/ants-mapper.dtd" >-->
<!-- 商品-->
<mapper namespace="GoodsMapper" >

    <resultType id="goods" type="team.ants.egg.entity.Goods"/>

    <!--数据和实体的对应映射-->
    <sql id="Base_Column_List" >
        id as id, 
        goods_sn as goodsSn, 
        goods_name as goodsName, 
        cat_id as catId, 
        be_mall as beMall, 
        style as style, 
        hits as hits, 
        goods_num as goodsNum, 
        goods_weight as goodsWeight, 
        shop_price as shopPrice, 
        promote_price as promotePrice, 
        promote_start_date as promoteStartDate, 
        promote_end_date as promoteEndDate, 
        warn_num as warnNum, 
        goods_brief as goodsBrief,
        goods_thumb as goodsThumb, 
        goods_imgs as goodsImgs, 
        is_show as isShow, 
        sort_order as sortOrder, 
        goods_type as goodsType, 
        create_time as createTime, 
        last_update as lastUpdate
    </sql>

    <!-- //TODO 多条件查询,自己扩充条件 -->
    <select id="selectList" resultType="goods">
        select <include refid="Base_Column_List"/> from goods
    </select>

    <!-- //TODO 多条件删除,自己扩充条件-->
    <delete id="delete">

    </delete>

    <!-- //TODO 多条件更新,自己扩充条件-->
    <update id="update">

    </update>

    <!-- //TODO selectCount 多条件数据统计-->

    <!-- 根据主键ID查询一条记录-->
    <select id="selectById" resultType="goods">
        select <include refid="Base_Column_List"/> from goods where id = #{id}
    </select>

    <!-- 插入不为空的字段 -->
    <insert id="insert">
        insert into goods
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="goodsSn != null" >
                goods_sn,
            </if>
            <if test="goodsName != null" >
                goods_name,
            </if>
            <if test="catId != null" >
                cat_id,
            </if>
            <if test="beMall != null" >
                be_mall,
            </if>
            <if test="style != null" >
                style,
            </if>
            <if test="hits != null" >
                hits,
            </if>
            <if test="goodsNum != null" >
                goods_num,
            </if>
            <if test="goodsWeight != null" >
                goods_weight,
            </if>
            <if test="shopPrice != null" >
                shop_price,
            </if>
            <if test="promotePrice != null" >
                promote_price,
            </if>
            <if test="promoteStartDate != null" >
                promote_start_date,
            </if>
            <if test="promoteEndDate != null" >
                promote_end_date,
            </if>
            <if test="warnNum != null" >
                warn_num,
            </if>
            <if test="goodsBrief != null" >
                goods_brief,
            </if>
            <if test="goodsDesc != null" >
                goods_desc,
            </if>
            <if test="goodsThumb != null" >
                goods_thumb,
            </if>
            <if test="goodsImgs != null" >
                goods_imgs,
            </if>
            <if test="isShow != null" >
                is_show,
            </if>
            <if test="sortOrder != null" >
                sort_order,
            </if>
            <if test="goodsType != null" >
                goods_type,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="lastUpdate != null" >
                last_update,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="goodsSn != null" >
                #{goodsSn},
            </if>
            <if test="goodsName != null" >
                #{goodsName},
            </if>
            <if test="catId != null" >
                #{catId},
            </if>
            <if test="beMall != null" >
                #{beMall},
            </if>
            <if test="style != null" >
                #{style},
            </if>
            <if test="hits != null" >
                #{hits},
            </if>
            <if test="goodsNum != null" >
                #{goodsNum},
            </if>
            <if test="goodsWeight != null" >
                #{goodsWeight},
            </if>
            <if test="shopPrice != null" >
                #{shopPrice},
            </if>
            <if test="promotePrice != null" >
                #{promotePrice},
            </if>
            <if test="promoteStartDate != null" >
                #{promoteStartDate},
            </if>
            <if test="promoteEndDate != null" >
                #{promoteEndDate},
            </if>
            <if test="warnNum != null" >
                #{warnNum},
            </if>
            <if test="goodsBrief != null" >
                #{goodsBrief},
            </if>
            <if test="goodsDesc != null" >
                #{goodsDesc},
            </if>
            <if test="goodsThumb != null" >
                #{goodsThumb},
            </if>
            <if test="goodsImgs != null" >
                #{goodsImgs},
            </if>
            <if test="isShow != null" >
                #{isShow},
            </if>
            <if test="sortOrder != null" >
                #{sortOrder},
            </if>
            <if test="goodsType != null" >
                #{goodsType},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
            <if test="lastUpdate != null" >
                #{lastUpdate},
            </if>
        </trim>
    </insert>

    <!-- 根据主键Id删除数据-->
    <delete id="deleteById">
        delete from goods where id = #{id}
    </delete>

    <!-- 据主键Id修改字段不为空的数据 -->
    <update id="updateById">
        update goods
        <set >
            <if test="id != null" >
            id = #{id},
            </if>
            <if test="goodsSn != null" >
            goods_sn = #{goodsSn},
            </if>
            <if test="goodsName != null" >
            goods_name = #{goodsName},
            </if>
            <if test="catId != null" >
            cat_id = #{catId},
            </if>
            <if test="beMall != null" >
            be_mall = #{beMall},
            </if>
            <if test="style != null" >
            style = #{style},
            </if>
            <if test="hits != null" >
            hits = #{hits},
            </if>
            <if test="goodsNum != null" >
            goods_num = #{goodsNum},
            </if>
            <if test="goodsWeight != null" >
            goods_weight = #{goodsWeight},
            </if>
            <if test="shopPrice != null" >
            shop_price = #{shopPrice},
            </if>
            <if test="promotePrice != null" >
            promote_price = #{promotePrice},
            </if>
            <if test="promoteStartDate != null" >
            promote_start_date = #{promoteStartDate},
            </if>
            <if test="promoteEndDate != null" >
            promote_end_date = #{promoteEndDate},
            </if>
            <if test="warnNum != null" >
            warn_num = #{warnNum},
            </if>
            <if test="goodsBrief != null" >
            goods_brief = #{goodsBrief},
            </if>
            <if test="goodsDesc != null" >
            goods_desc = #{goodsDesc},
            </if>
            <if test="goodsThumb != null" >
            goods_thumb = #{goodsThumb},
            </if>
            <if test="goodsImgs != null" >
            goods_imgs = #{goodsImgs},
            </if>
            <if test="isShow != null" >
            is_show = #{isShow},
            </if>
            <if test="sortOrder != null" >
            sort_order = #{sortOrder},
            </if>
            <if test="goodsType != null" >
            goods_type = #{goodsType},
            </if>
            <if test="createTime != null" >
            create_time = #{createTime},
            </if>
            <if test="lastUpdate != null" >
            last_update = #{lastUpdate},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>